# dependencies
node_modules/

# production build
dist/

# logs
*.log

# env files
.env
.env.*
!.env.example

# editor files
.vscode/
.idea/

# macOS
.DS_Store

# npm/pnpm/yarn
package-lock.json
yarn.lock
pnpm-lock.yaml